.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 270px 70px 1fr 100px;
    grid-template-areas: 'title' 'img' 'text' 'obs' 'input' ;
    text-align: center;
    width: 300px;
    height: 650px;
    background-color: #f4f4f4;
    padding: 5px 10px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgba(70,70,70,0.5);
}
.card .poster {
    grid-area: img;
    margin: 20px 0;

}
.card img{
    width: 160px;
}
.card .title{
    margin: 5px 0;
    grid-area: title;
}
.card .title span{
    font-size: 1.3rem;
    font-weight: 500;
    color: #111;
}
.card .text{
    grid-area: text;
    overflow-y: auto;
    overflow-x: hidden;
}
.card .description{
    font-size: 0.9rem;
    color: #333;
}
.card .input {
    margin: 10px 0;
    grid-area: input;
}
.card .input input{
    font-weight: 400;
    width: 100%;
    font-size: 0.9rem;
    border: 1.2px solid #C7C7C7;
    background-color: #E6E6E6;
    border-radius: 10px;
    padding: 5px 10px;
    height: 35px;
}
.card .input input:focus,.card .input input:hover{
    border: 1.2px solid #4a80c7;
}

.buttons{
    margin: 10px 0;
}
.buttons .edit .icon{
    color:#E0B200;
}
.buttons .edit:hover{
    color:#E0B200;
}

.buttons button{
    text-decoration: none;
    border: none;
    background-color: inherit;
    cursor: pointer;
    transition: 100ms;
}
.buttons button:hover{
    color: #4a80c7;
}
.buttons button .icon{
    color: #4a80c7;
}
.buttons .favorite:hover{
    color: #E01D0B;
}
.buttons .favorite .icon{
    color: #222;
    margin: 0 5px;
}
.buttons .favorite .icon.favorite{
    color: #E01D0B;
}
.card .obs button{
    text-decoration: none;
    border: none;
    padding: 2px;
    margin: 0 5px 0 0;
    background-color: inherit;
}
.card .obs .icon{
    cursor: pointer;

}
.card .obs .icon:hover{
    color: #E01D0B;
}
.card .coment{
    grid-area: obs;
    max-height: 130px;
}

.card .obs{
    background-color: #E6E6E6;
    margin: 10px 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    
}
.card .obs span{
    background-color: #BBB;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 300px;
    word-wrap: break-word;
    overflow: hidden;
    align-items: center;
}
.card .nullcontent{
    color: #555;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 5px;
}

/* @media(max-width: 500px){
    .card{
        width: 90%;
        height: 70%;
    }
} */