.menu .actions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    background-color: #E6E6E6;
}
.menu .actions.closed{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.menu{
    background-color: #f4f4f4;
    width: 100%;
    box-shadow: 2px 2px 4px rgba(70,70,70,0.5);
}
.nav a{
    text-decoration: none;
    color: inherit;
}
.nav .option{
    cursor: pointer;
    padding: 10px;
}
.actions .actionIcon{
    cursor: pointer;
}
.nav .option.selected{
    color: #5898ED;
    border-bottom:1px solid #5898ED;
}
.nav .option:hover{
    background-color: #E6E6E6;
}